<div class="modal-header">
    <h4 class="modal-title" translate="EDIT"></h4>
</div>
<form name="editForm">
    <div class="modal-body">
        <div class="clearfix">
            <div class="form-group">
                <label for="tagz" class="control-label" translate="TAGS"></label>
                <div class="validation" ng-show="editForm.tags.$invalid && editForm.tags.$dirty"
                     translate="TAGS_ERROR"></div>
                <div>
                    <tags-input id="tagz" name="tags" min-length="1" ng-model="editNewsCtrl.newsToEdit.tags"
                                display-property="name"
                                add-from-autocomplete-only="true" placeholder="{{'ADD_NEW_TAG' | translate}}">
                        <auto-complete source="editNewsCtrl.loadTags($query)" min-length="1"
                                       max-results-to-show="7"></auto-complete>
                    </tags-input>
                </div>
            </div>

            <div class="form-group">
                <label for="authorz" class="control-label compulsory" translate="AUTHORS"></label>
                <div class="validation" ng-show="editForm.authors.$invalid && editForm.authors.$dirty"
                     translate="AUTHORS_ERROR"></div>
                <div>
                    <tags-input id="authorz" name="authors" min-tags="1" min-length="1"
                                ng-model="editNewsCtrl.newsToEdit.authors"
                                display-property="name"
                                add-from-autocomplete-only="true" placeholder="{{'ADD_NEW_AUTHOR' | translate}}">
                        <auto-complete source="editNewsCtrl.loadAuthors($query)" min-length="1"
                                       max-results-to-show="7"></auto-complete>
                    </tags-input>
                </div>
            </div>

            <div class="form-group">
                <label for="titlee" class="control-label compulsory" translate="TITLE"></label>
                <div class="validation" ng-show="editForm.title.$invalid && editForm.title.$dirty"
                     translate="TITLE_ERROR"></div>
                <div>
                    <input type="text" ng-model="editNewsCtrl.newsToEdit.title"
                           class="form-control" id="titlee" name="title"
                           ng-attr-placeholder="{{ 'TITLE' | translate }}" required
                           maxlength="100" ng-maxlength="100"/>
                </div>
            </div>
            <div class="form-group">
                <label for="descriptionn" class="control-label compulsory" translate="DESCRIPTION"></label>
                <div class="validation" ng-show="editForm.description.$invalid && editForm.description.$dirty"
                     translate="DESCRIPTION_ERROR"></div>
                <div>
					<textarea class="form-control"
                              ng-model="editNewsCtrl.newsToEdit.description" rows="3" id="descriptionn" name="description"
                              ng-attr-placeholder="{{'DESCRIPTION' | translate}}" required
                              maxlength="300" ng-maxlength="300"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="fullTextt" class="control-label compulsory" translate="FULL_TEXT"></label>
                <div class="validation" ng-show="editForm.fullText.$invalid && editForm.fullText.$dirty"
                     translate="FULL_TEXT_ERROR"></div>
                <div>
					<textarea class="form-control"
                              ng-model="editNewsCtrl.newsToEdit.fullText" rows="7" id="fullTextt" name="fullText"
                              ng-attr-placeholder="{{'FULL_TEXT' | translate }}" required
                              maxlength="2000" ng-maxlength="2000"></textarea>
                </div>
            </div>
        </div>
    </div>
</form>
<div class="modal-footer clearfix">
    <button type="button" class="btn btn-primary btn-left" ng-disabled="editForm.$invalid"
            ng-click="editNewsCtrl.edit(editForm)" translate="EDIT"></button>
    <button type="button" class="btn btn-primary btn-right"
            ng-click="editNewsCtrl.close()" translate="CANCEL"></button>
</div>